{% extends 'base.html'%}

{% block title %}
Добавить статью
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добавление статьи</h1>
    <form method="POST">
        <input type="text" name="tittle" id="tittle" class="form-control"><br>
        <textarea name="intro" id="intro" class="form-control"></textarea><br>
        <textarea name="text" id="text" class="form-control"></textarea><br>
        <input type="submit" class="btn btn-succes" value="отправить">

    </form>
</div>
{% endblock %}