{% extends 'base.html'%}

{% block title %}
{{ article.tittle }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{ article.tittle }}</h1>
   
    <div class="alert alert-info">
        <h2>{{ article.intro }}</h2>
        <p>{{ article.text }}</p>
        <p><b>Дата:{{ article.date.date() }}</b></p>
        <a href="/posts/{{ article.id }}/del" class="btn btn-danger rounded-pill px-3">Удалить</a>
        <a href="/posts/{{ article.id }}/update" class="btn btn-success rounded-pill px-3">Редактировать</a>
    </div>
    
</div>
{% endblock %}