{% extends 'base.html'%}

{% block title %}
Обновить статью
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Обновление статьи</h1>
    <form method="POST">
        <input type="text" name="tittle" id="tittle" class="form-control" value="{{ article.tittle }}" placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст">{{ article.text }}</textarea><br>
        <input type="submit" class="btn btn-success rounded-pill px-3" value="обновить">

    </form>
</div>
{% endblock %}