{% extends 'base.html'%}

{% block title %}
Все статьи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Статьи</h1>

    {% if articles|length > 0%}
        {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.tittle }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата:{{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning rounded-pill px-3">Читать далее</a>
        </div>
        {% endfor %}
    {% else %}
    <p>Пока нет статей</p>
    {% endif %}
</div>
{% endblock %}